*{
margin: 0;
padding:0
}


.topbar{
background-color: black;
padding: 12px;
color: white;
display: flex;
justify-content: space-between;
align-items: center;
}

.right button{
    background-color: white;
    color:black;
    padding: 10px;
    border: none;
    font-weight: bold;
}

.navbar{
    background-color: orange;
padding: 10px ;
display: flex;
justify-content: space-between;
align-items: center;

}

.menu a{

    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
    margin:15px ;
}

.banner{
width: 100%;
height: 90vh;
background: linear-gradient(rgba(0, 0, 0, 0.384),rgba(0, 0, 0, 0.596)),url(./assets/bg.avif);
display: flex;
justify-content: center;
background-size: cover;
align-items: center;
background-position:center;
backdrop-filter: blur(5px);
}

.content{
    text-align: center;
margin: 15px;
align-items: center;
text-align: center;
padding: 20px;
width: 800px;
margin-bottom: 15px;
}

.content button{
    border-radius: 20px;
    padding: 10px;
    font-weight: bolder;
    cursor: pointer;
    border: none;
    margin: 10px;

}

.content h1{
    margin: 10px;
}

.content p{
    margin: 10px;
}

.content button:hover{

    background-color: black;
    color: white;

}